@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

*,
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* 
.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  margin: 10px 0;
  max-height: calc(100vh - 315px);
  overflow: auto;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 20px;
}

.users-playlist {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  margin: 10px 0;
  max-height: 330px;
  overflow: auto;
  width: 160px;
}

.menu-playlist-item {
  display: flex;
  align-items: center;
}

.div-input {
  padding: 20px;
}

/* body {
  position: fixed;
}

.main-page {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
}

.playbar-div {
  display: flex;
  flex-direction: row;
}

img {
  width: 75px;
  height: 75px;
  margin-right: 25px;
}

.songs-list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.songs-list-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  margin: 5px 0px;
}

.song-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 450px;
}

.song-text{
  width: 200px;
}

.song-name, .song-author{
  text-align: left;
} */