*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  margin: 10px 0;
  max-height: calc(100vh - 315px);
  overflow: auto;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 20px;
}

.users-playlist{
  display: flex;
  flex-direction: column;
  gap:5px;
  flex: 1;
  margin: 10px 0;
  max-height: 220px;
  overflow: auto;
  width: 200px;
}

.div-input {
  padding: 20px;
}

body{
  position: fixed;
}